.black{
    background-color: #000000;
}

.pink {
    background-color: #e76da4;
}

.light-blue {
    background-color: #37c1d5;
}

.grey {
    background-color: #a5b2b2;
}

.green {
    background-color: #4e7729;
}

.white {
    background-color: #ffffff;
}

.beige {
    background-color: #8d8282;
}

.blue {
    background-color: #005b88;
}

.yellow {
    background-color: #ded77c;
}

.red {
    background-color: #bd3838;
}

.light-grey {
    background-color: #b7b7b7;
}

.terracotta {
    background-color: #805239;
}

.orange {
    background-color: #e7781d;
}

.turquoise {
    background-color: #0daf97;
}

.cherry {
    background-color: #75235b;
}

.brown {
    background-color: #5e4747;
}
