/*global style*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    scroll-padding-top: 150px;
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik Regular", sans-serif;
    width: 100%;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

p,
h3 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/*header*/

header {
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    right: 0;
    height: 120px;
    will-change: height, background-color;
    margin-bottom: 2rem;

}

.header__container {
    position: relative;
    transform: translateY(50%);
}

.header__theme {
    padding: 0;
    position: absolute;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    right: 3rem;
}

.header__theme img {
    width: 100%;
    height: 100%;
}

nav {
    height: 3rem;
    position: sticky;
}

.header__menu-list {
    display: flex;
    text-transform: uppercase;
    gap: 3rem;
    font-family: "Rubik Regular", sans-serif;
    justify-content: center;
}

.header__menu-item a {
    font-size: 24px;
    font-weight: 400;
}

/*description*/

.description {
    background-size: cover;
    height: auto;
    margin-top: 120px;
    margin-bottom: 5rem;
}

.description__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description__text h2 {
    text-align: center;
    font-size: 78px;
}

.description__text p {
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    padding: 0 120px;
}

.button-scroll-up {
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: all 0.5s ease;
}

.button-scroll-up__hide {
    display: none;
    transform: translateY(0);
    opacity: 1;
}

/*catalog*/
.catalog {
    margin-bottom: 100px;
}

.catalog-style {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: start;
    max-width: 1200px;
    margin: 0 auto;
}

.catalog__title {
    max-width: 1200px;
    margin: 0 auto 20px;
    text-align: start;
    font-family: "Rubik Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

/*card*/
.card {
    width: 250px;
    min-height: 350px;
    border: 2px solid #e1e1e1;
    position: relative;
    transition: .5s;
    padding: 10px;
}

.card:hover {
    transition-delay: 0.1s;
}

.card__quantity {
    margin-bottom: 25px;
}

.card__basket {
    display: flex;
    margin: 0 auto 10px;
    border: none;
    width: 170px;
    height: 40px;
    cursor: pointer;
    background: url("../img/icons/basket.svg") no-repeat #f60606;
    color: #ffffff;
    background-position-x: 15px;
    background-position-y: center;
    padding: 20px;
    align-items: center;
}

.card__basket:hover {
    background: url("../img/icons/basket.svg") no-repeat #e58484;
    background-position-x: 15px;
    background-position-y: center;
}

.card__images {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.card__images div {
    max-height: 200px;
}

.card__basket span {
    margin-left: 30%;
    text-transform: uppercase;
}

.card__images {
    height: 212px;
    width: 212px;
    margin: 0 auto;
    position: relative;
}

.card__images img {
    max-width: 200px;
    max-height: 200px;
}

.card__wrapper-aside-icons {
    display: flex;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    right: 20px;
    top: 20px;
}

.card__title {
    padding: 0 25px;
    margin: 0 auto 5px;
}

.card__text {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.card__price {
    font-family: "Rubik Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 10px;
}

.price {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: baseline;
}

.card__price-symbol {
    font-size: 17px;
    line-height: 22px;
}

.card__info-product {
    display: grid;
    grid-template-rows: 40px auto auto;
    align-items: center;
}

.date {
    text-align: center;
    font-size: 10px;
    color: grey;
}

.card__date-description {
    text-align: center;
    font-size: 10px;
    color: grey;
}

/*/headers*/

header {
    background: #d5d4d4;
}

html {
    scroll-padding-top: 150px;
}

.header__menu-list {
    color: #282828;
}

.header__menu-item a {
    color: #282828;
}

.header__menu-item a:hover {
    color: #7a7878;
}

.header__menu-item a:active {
    text-shadow: #5d5d5d 1px 0 5px;
}

/*description*/

.description {
    background: #000;
}

.description__text h2 {
    color: #f4f4f4;
}

.description__text p {
    color: #f4f4f4;
}

.button-scroll-up {
    background-color: #eaeaea;
}

.button-scroll-up:hover {
    background-color: #ffffff;
}

/*card*/
.card {
    background: #f4f4f4;
}

.card:hover {
    box-shadow: 0 0 8px 12px rgb(0 0 0 / 22%), 0 0 10px rgb(0 0 0 / 28%);
}

/*dark-theme*/
body.dark-theme header {
    background: #282828;
}

body.dark-theme .header__menu-item a {
    color: #f4f4f4;
}

body.dark-theme .header__menu-item a:hover {
    color: #bebaba;
}

body.dark-theme .header__menu-item a:active {
    text-shadow: #c4c4c4 1px 0 5px;
}

body.dark-theme .header__theme img {

    filter: invert(110%);
}

body.dark-theme {
    background: #626060;
}

body.dark-theme .catalog {
    background: #626060;
}

body.dark-theme .catalog__title {
    color: #f4f4f4;
}

body.dark-theme .card {
    background: #f4f4f4;
}

body.dark-theme .card:hover {
    box-shadow: 0 0 8px 12px rgb(250 250 250 / 22%), 0 0 10px rgb(250 250 250 / 28%);
}

body.dark-theme .description {
    background: #000;
}

body.dark-theme.description__text h2 {
    color: #f4f4f4;
}

body.dark-theme .description__text p {
    color: #f4f4f4;
}

/*modal*/
.modal-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*radio button*/
.color-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.color-radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.color-radio + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.color-radio:checked + label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.color-radio:disabled + label::before {
    background-color: #e9ecef;
}

.form__quantity {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.form__quantity {
    color: #7a7878;
}

.form__title-quantity-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 10px;
}

.form__quantity-buttons {
    width: 95px;
    height: 30px;
    display: grid;
    grid-template-columns: 30px 40px 30px;
    justify-content: center;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.form__minus-btn {
    background: url("../img/icons/minus.png") no-repeat center;
    cursor: pointer;
}

.form__plus-btn {
    background: url("../img/icons/plus.png") no-repeat center;
    cursor: pointer;
}

.form__quantity-buttons input {
    font-family: "Rubik Regular", sans-serif;
    font-size: 18px;
    color: #4C4E50;
    text-align: center;
    border: none
}

.form__product-title {
    font-weight: 600;
    font-size: 20px;
}

.form__product-colors {
    display: flex;
    gap: 15px;
    max-width: 50%;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.form__comment textarea {
    width: 95%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 55px;
    padding: 10px;
    display: block;
    margin: 0 auto 10px;
    outline: none;
}

#product-submit {
    width: 150px;
    background-color: #f60606;
    height: 35px;
    color: #ffffff;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
}

#product-submit:hover {
    background-color: #e58484;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .header__menu-item a {
        font-size: 18px;
    }

    .description__text {
        padding: 20px 0;
    }

    .description__text h2 {
        font-size: 48px;
        margin: 20px 0;
    }

    .description__text p {
        font-size: 18px;
        text-align: center;
        line-height: 24px;
        padding: 0 60px;
    }

    .card {
        width: 200px;
    }

    .catalog-style {
        justify-content: center;
    }
}

