/*/headers*/
header {
    background: #d5d4d4;
}

html {
    scroll-padding-top: 150px;
}

.header__menu-list {
    color: #282828;
}

.header__menu-item a {
    color: #282828;
}

.header__menu-item a:hover {
    color: #7a7878;
}

/*description*/

.description {
    background: #000;
}

.description__text h2 {
    color: #f4f4f4;
}

.description__text p {
    color: #f4f4f4;
}

.button-scroll-up {
    background-color: #eaeaea;
}

.button-scroll-up:hover {
    background-color: #ffffff;
}

/*card*/

.card {
    background: #f4f4f4;
}

.card:hover {
    box-shadow: 0 0 8px 12px rgb(0 0 0 / 22%), 0 0 10px rgb(0 0 0 / 28%);
}
