/*global style*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

p,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

/*/headers*/
header {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    right: 0;
    height: 152px;
    background: #ffffff;
    transition: height 0.3s cubic-bezier(0.42, 0, 0.58, 1), background-color 0.15s cubic-bezier(0.42, 0, 0.58, 1);
    will-change: height, background-color;
}

.header__wrapper {
    display: flex;
    align-items: center;
    padding: 0 100px 0;
}

.header__logo {
    margin-right: 2rem;
}

.header__logo-img {
    height: 150px;
    width: 150px;
}

.header__logo-img img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.header__toolbar {
    margin-left: auto;
}

.header__toolbar-wrapper {
    display: flex;
}

.header__catalog-trigger {
    display: block;
    gap: 1rem;
    position: relative;
    height: 40px;
    padding: 12px 0 8px 41px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.header__catalog-icon {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 0;
    width: 41px;
}

.header__catalog-text {
    display: block;
    text-transform: uppercase;
    margin-left: 10px;
}

.header__catalog-icon:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 3px;
    background: #282828;
}

.header__catalog-icon:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 3px;
    background: #282828;
    transform: translate3d(0, -8px, 0);
    transition: transform 0.15s cubic-bezier(0.42, 0, 0.58, 1), background-color 0.15s cubic-bezier(0.42, 0, 0.58, 1);
    will-change: transform, background-color;
}

.header__search-toggle {
    border: none;
    background-color: transparent;
    margin-left: 1rem;
}

.header__toolbar-search-wrap {
    display: flex;
}

.header__toolbar-search-wrap-active {
    width: 660px;
    height: 55px;
    border: 1px solid #009fe4;
    border-radius: 60px;
    display: none;
}

.header__toolbar-search {
    display: flex;
    width: 100%;
}

.header__search-span {
    position: relative;
    display: inline-block;
    width: 100%;
}

.header__search-input {
    display: block;
    width: 95%;
    height: 90%;
    border: none;
    outline:none
}

.header__search-close {
    border: none;
    background-color: transparent;
    margin-right: 1rem;
   cursor: pointer;
}

.header__search-close svg:hover {
    fill: #009fe4;
}
