/*/headers*/
header {
    background: #f4f4f4;
}

html {
    scroll-padding-top: 150px;
}

.header__menu-list {
    color: #282828;
}

.header__menu-item a {
    color: #282828;
}

.header__menu-item a:hover {
    color: #646464;
}

/*description*/

.description {
    background: #000;
}

.description__text h2 {
    color: #ffffff;
}

.description__text p {
    color: #ffffff;
}

.button-scroll-up {
    background-color: #eaeaea;
}

.button-scroll-up:hover {
    background-color: #ffffff;
}

/*catalog*/

/*card*/
.card {
     border: 2px solid #ECF0F4;
   }
